{
  "root": true,
  "extends": ["@thesis-co"],
  "parserOptions": {
    "ecmaVersion": 2017,
    "sourceType": "module"
  },
  "env": {
    "es6": true,
    "mocha": true
  },
  "rules": {
    "new-cap": "off",
    "import/no-extraneous-dependencies": "off",
    "@typescript-eslint/no-use-before-define": "off",
    "no-plusplus": ["error", { "allowForLoopAfterthoughts": true }]
  },
  "overrides": [
    {
      "files": [
        "**/*.test.ts",
        "**/*.spec.ts",
        "test/integration/utils/**/*.ts"
      ],
      "rules": {
        "no-underscore-dangle": "off",
        "@typescript-eslint/naming-convention": "off",
        "no-unused-expressions": "off",
        "@typescript-eslint/no-unused-expressions": "off",
        "@typescript-eslint/no-shadow": "off",
        "no-console": "off",
        "@typescript-eslint/no-unused-vars": "off",
        "no-restricted-syntax": "off",
        "@typescript-eslint/no-loop-func": "off",
        "no-await-in-loop": "off",
        "no-bitwise": "off",
        "no-void": "off"
      }
    }
  ]
}
