# Yarn 4 local state (not for zero-installs)
.yarn/install-state.gz

# Hardhat
/build/
/cache/
/export/
/external/npm/
/contracts/hardhat-dependency-compiler/
/typechain/
/export.json

# Contract artifacts
/artifacts/
/deployments/*
!/deployments/mainnet/
!/deployments/sepolia/

# OpenZeppelin
/.openzeppelin/unknown-*.json
solcInputs/
gasReporterOutput.json